---
---

/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #7253ed;
  margin-right: 5px;
  vertical-align: text-top;
}

.link-list {
  list-style-type: none;

  li + li {
    padding-top: 5px;
  }
}


/**
 * Overrides
 */

.main-content .task-list-item {
  display: block;
}
