---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// === Main structure
details > summary {
  cursor: pointer;
  font-weight: bold;
}

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fdfdfd;
}

.page-content {
  padding-top: 91px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

// === Sidebar
.sidebar {
  display: none;
  a:link { color: $brand-color; }
  a:visited { color: $brand-color; }

  @media (min-width: 768px) {
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; // Scrollable contents if viewport is shorter than content.
    background-color: #fdfdfd;
    border-right: 1px solid #e7e7e7;
  }
}

.sidebar {
  ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;

    li {
      > a {
        display: block;
        padding: 5px 10px;
      }

      > a:focus,
      > a:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
  > ul { padding-left: 0px; }
}
